body {
	color: #000;
	font: 0.75rem Arial, sans-serif;
	width: 100%;
	position: absolute;
	color:white;
}

#menu{
	width: 100%;
	height: 5rem;
	background-color: rgba(0,0,0,.85);
	text-align: center;
	position: relative;
}

#menu h1{
	font-size: 2.5rem;
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
	padding-top: 1.3rem;
	position: relative;
}


#conteudo{
	position: relative;
	width: 100%;
	height: 30rem;
    background: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
	position: relative;
	width: 100%;
	height: 20rem;
	color: black;
}

#cadastro{
	background-color: blue;
}


.layer h1{
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
	font-size: 3.5rem;
	padding-top: 7rem;
}

.layer p{
	font-size: 1.5rem;
	margin-top: 2.5rem;
}
.section div{
	position: relative;
	float: left;
	text-align: center;
	height: 20rem;
	width: 50%;
}

.image-left{
	width: 14rem;
	height: 13rem;
	margin-top: 3rem;
	margin-left: 7rem;
}

.image-right{
	width: 14rem;
	height: 13rem;
	margin-top: 3rem;
	margin-right: 7rem;
}
.section div h2{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	margin: 6rem 2rem 0 3rem;
}

.section div p{
	font-size: 1.2rem;
	margin: 2rem 3rem 0 3rem;
}

#section span{
	font-weight: bold;
}

.green{
	background-color: rgb(22,171,156);
}



.button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgb(22,171,156);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 1.1rem;
  width: 12.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:3rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25rem;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1.56rem;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.down {
	 border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.8rem;
    margin-top: 1.7rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
    transition:0.4s;
}

.down:hover {
	padding: 0.93rem;
	transition: 0.4s;
}


#footer{
	height: 5rem;
	width: 100%;
	background-color: rgba(0,0,0,.85);
}

.black{
	position: relative;
	width: 100%;
	height: 20rem;
	color: white;
	background: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.layer{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	text-align: center;
}

.black .layer h2{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	padding-top: 4rem;
}

.black .layer p{
	font-size: 1.2rem;
	margin: 2rem 2rem 0 2rem;
}


#network{
	width: 13rem;
	height: 2.5rem;
	margin-top: 1.3rem;
	margin-right: 0.5rem;
	position: relative;
	float: right
}

.social-icon{
	width: 18%;
	height: 90%;
	margin-left: 5%;
	position: relative;
	float: left;
}

.image-icon{
	width: 100%;
	height: 100%;
}

