body {
	color: #000;
	font: 0.75rem Arial, sans-serif;
	width: 100%;
	position: absolute;
	color:white;
}

.navmenu{
	width: 100%;
	height: 5rem;
	background-color: rgba(0,0,0,.85);
	text-align: center;
	position: relative;
}

.navmenu_logotext{
	font-size: 2.5rem;
	padding-top: 1.3rem;
	position: relative;
}

/*-- Logo.css --*/
.logotext--style{
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
}

/*-- Layer.css --*/
.layer--default{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	text-align: center;
}

.header{
	position: relative;
	width: 100%;
	height: 30rem;
    background: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header_layer_title{
	font-size: 3.5rem;
	padding-top: 7rem;
}

.header_layer_paragraph{
	font-size: 1.5rem;
	margin-top: 2.5rem;
}

.header_layer_button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgb(22,171,156);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 1.1rem;
  width: 12.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:3rem;
}

.header_layer_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header_layer_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25rem;
  transition: 0.5s;
}

.header_layer_button:hover span {
  padding-right: 1.56rem;
}

.header_layer_button:hover span:after {
  opacity: 1;
  right: 0;
}

/*-- Arrow.css --*/
.arrow--style {
	 border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.8rem;
    margin-top: 2.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
    transition:0.4s;
}


.arrow--style:hover {
	padding: 0.93rem;
	transition: 0.4s;
}




/*-- Body.css--*/
.section{
	position: relative;
	width: 100%;
	height: 20rem;
}


.section_div{
	position: relative;
	float: left;
	text-align: center;
	height: 20rem;
	width: 50%;
}

.section_div_image{
	width: 14rem;
	height: 13rem;
	padding-top: 3.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

.section_div_title{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	margin-top:5rem;
}

.section_div_paragraph{
	font-size: 1.2rem;
	margin: 2rem 1.5rem 0 1.5rem;
}

.paragraph--span{
	font-weight: bold;
}

.section_layer_title{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	padding-top: 4rem;
}

.section_layer_paragraph{
	font-size: 1.2rem;
	margin: 2rem 2rem 0 2rem;
}

/*--Section.css--*/
.section--green{
	background-color: rgb(22,171,156);
}

.section--white{
	background-color: white;
	color: black;
}

.section--transparent{
	color: white;
	background: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/*--Footer.css--*/

.footer{
	height: 8rem;
	width: 100%;
}

.footer_contacts{
	width: 100%;
	height: 4rem;
	background-color: rgb(53,53,59);
}

.footer_end{
	height: 4rem;
	width: 100%;
	background-color: rgb(41,41,45);
	text-align: center;
}

.footer_end_copy{
	color: rgb(163,163,169);
	position: absolute;
	margin-left: 2rem;
	padding-top: 1.7rem;
}

.footer_end_logotext{
	font-size: 2rem;
	padding-top: 1.1rem;
	position: relative;
	float: center;
}


