
/*--Header.css*/

/*--Header-menu.css--*/


  .nav {
      background: rgb(53,53,59);
      padding: 1em 3em;
      margin: 0;
      height: 100%;
      width: 60%;
      max-width: 320px;

      position: fixed;
      z-index: 1;
      top: 0;
      left: -90%;

      transition: left 0.3s ease-out;
  }

  .menu-ativo .nav {
      left: 0;
  }
  .menu-abrir{
    float: right;
  }
  .list{
    width: 100%;
  }
  .list-child {
      padding: 1rem 0;
      width: 100%;
      margin: 0;
  }
  .menu-ativo:after {
        content: "";
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: rgba(0,0,0,0.4);
    }
  

.navmenu{
  width: 100%;
  height: 3rem;
  background-color: rgba(0,0,0,.85);
  padding: 1rem 0;
}

.nav-title_logotext{
  font-size: 2.0rem;
  margin-top: 0.5rem;
  position: relative;
  float: left;
  margin-left: 1.5rem;
}

header .nav{
  text-align: left;
}



.menu-abrir,
.menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 2.7em;
    text-indent: -999em;
}
.menu-abrir {
    height: 0;
    width:.75em;
    padding-top:.125em;
    border-top: .375em double #FFF;
    border-bottom: .125em solid #FFF;
    margin: 0.6rem 1rem;
}

.menu-fechar {
    color: white;
    position: relative;
    height: 1em;
    width: 1em;
}

.menu-fechar:before {
    content: '\00D7';
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
}

.menu-fechar:hover{
  cursor: pointer;
}

.menu-abrir:hover{
  cursor: pointer;
}



.nav-title_logotext , .list{
  display: inline-block;
  vertical-align: middle;
}


@media screen and (min-width: 1023px){}
  .nav{
    display: inline-block;
    vertical-align: middle;
    float: right;
  }

  .list{
    margin-top:0.4rem;
  }

  .list_child{
    float: left;
    margin: 0 1.5rem;
    font-size: 1.2rem;
  }
}