

*{
	padding:0;
	margin: 0;
}

body {
	color: #000;
	font: 0.75rem Arial, sans-serif;
	width: 100%;
	color:white;
	
}

a{
	color: inherit; 
  	text-decoration: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.logotext--style{
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
}



