/*-- Layer.css --*/
.header{
  width: 100%;
  height: 30rem;
    background: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.layer{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	text-align: center;
}


.layer_title{
	font-size: 2.8rem;
	padding-top: 7rem;
}

.layer_paragraph{
	font-size: 1.2rem;
	margin-top: 2rem;
}

.layer_button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgb(22,171,156);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 1.1rem;
  width: 12.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:3rem;
}

.layer_button span {
  cursor: pointer;
      position: relative;
  display: inline-block;
  transition: 0.5s;
}

.layer_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25rem;
  transition: 0.5s;
}

.layer_button:hover span {
  padding-right: 1.56rem;
}

.layer_button:hover span:after {
  opacity: 1;
  right: 0;
}

/*-- Arrow.css --*/
.arrow_style {
	 border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.8rem;
    margin-top: 2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
    transition:0.4s;
}


.arrow_style:hover {
	padding: 0.93rem;
	transition: 0.4s;
}


