/*-- Body.css--*/
.section{
	
	width: 100%;
	height: 20rem;
}


.section_div{
	
	float: left;
	text-align: center;
	height: 20rem;
	width: 100%;
}

.icon_image{
	width: 14rem;
	height: 13rem;
	padding-top: 3.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

.text-div_title{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	margin-top:5rem;
}

.text-div_paragraph{
	font-size: 1rem;
	margin: 2rem 1.5rem 0 1.5rem;
}

.description_span{
	font-weight: bold;
}

.section-parallax_title{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	padding-top: 4rem;
}

.section-parallax_paragraph{
	font-size: 1rem;
	margin: 2rem 2rem 0 2rem;
}

/*--Section-modifiers.css--*/
.section--green{
	background-color: rgb(22,171,156);
}

.section--white{
	background-color: white;
	color: black;
}

.section--transparent{
	color: white;
	background: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-img{
  display: none;
}

@media screen and (min-width: 1023px) { 
.section-parallax_paragraph{
	font-size: 1.2rem;
}
	.text-div_paragraph{
	font-size: 1.2rem;
}
    .layer_title{
  font-size: 3.5rem;
  padding-top: 7rem;
}

.layer_paragraph{
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.section_div{
  position: relative;
  float: left;
  text-align: center;
  height: 20rem;
  width: 50%;
}
  .sec-img{
  display: block;
}



.arrow--style{
  margin-top: 2.5rem;
}

}

