/*--Seções--*/
.section{
	width: 100%;
	height: 20rem;
}

.section__div{
	float: left;
	text-align: center;
	height: 20rem;
	width: 100%;
}

.picture-div{
  display: none;
}

.picture-div__image{
	width: 14rem;
	height: 13rem;
	padding-top: 3.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

.content-div__title{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	margin-top:5rem;
}

.description{
	font-size: 1rem;
	margin: 2rem 1.5rem 0 1.5rem;
}

.description__span{
	font-weight: bold;
}

.section-parallax__title{
	letter-spacing: 0.15rem;
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'aqua_grotesqueregular';
	padding-top: 4rem;
}

.section-parallax__paragraph{
	font-size: 1rem;
	margin: 2rem 2rem 0 2rem;
}


/*-- Modificadores de sessões--*/
.section--green{
	background-color: rgb(22,171,156);
}

.section--white{
	background-color: white;
	color: black;
}

.section--transparent{
	color: white;
	background: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*--Alterações Mobile--*/
@media screen and (min-width: 1023px) { 
	
	.section__div{
	  position: relative;
	  float: left;
	  text-align: center;
	  height: 20rem;
	  width: 50%;
	}
	
	.picture-div{
		display: block;
	}

	.description{
		font-size: 1.2rem;
	}

	.section-parallax__paragraph{
		font-size: 1.2rem;
	}
	
}

