 body {
	color: #000;
	font: 0.75rem Arial, sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
}

#conteudo {
	width: 100%;
	float: none;
	text-align: center;
}

.page-header{
	width: 100%;
	height: 5%;
	margin: 0; 
	padding: 0;
	background: black;
	opacity: .85;
	display: block;
}

.menu {
	width: 100%;
	margin: 0; 
	padding: 0;
	float: left;
	display: none;
	position: absolute;
	z-index: 1;
	background: #272727; 
}

.menu ul li {
	margin: 0; 
	padding: 0;
	text-align: center;
}

.menu a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 1.5rem;
	display: block;
	font-size: 1rem;
}

.menu a:hover {
	background: white;
	color: black;
}

#agenda {
border-collapse: collapse;
font-size: 0.75rem;
font-family: Geneva, Verdana, sans-serif;
position: relative;
float: left;
margin-left: 3rem;
margin-top: 7rem;
border-radius: 2rem;
}

th {
background-color: rgba(0,0,0,.8);
color: white;
padding:0.4rem 0.25rem;
width: 6rem;
}

tr:nth-child(odd) {
		background-color:#F3F3F3;
}

tr:nth-child(even) {
		background-color:#FFF;

}

tr, td {
padding:0.4rem 0.25rem;
white-space:nowrap;
border-bottom:solid 0.06rem #E1E1E1;
width: 6rem;
}

tr td:hover {
background-color:#00D8CC;
cursor:pointer; 
color:#FFF;
}

.select{
	background-color: red;
}

.select:hover{
	background-color: red;
}



#cadastrar-horario{
	width: 100%;
	height: 35%;
	float: right;
	position: relative;
	margin: 7rem auto 0 auto;
}

.titles{
	margin-top: 0.5rem;
	margin-left: 0.2rem;
	text-align: left;
	font-size: 0.9rem;
}

.button{
	margin-top: 7rem;
	margin-left: 1rem;
	position: relative;
	float: left;
}

.btn-excluir{
	display: none;
}

.end{
	display: none;
}

#select_end .show{
	display: block;
}


  .open-menu{
      background: none;
      border: 0;
      outline: 0;
      -webkit-appearance: none;
      font-size: 2.7em;
      text-indent: -999em;
       cursor: pointer;
       display: block;
  }
.open-menu {
      height: 0;
      width:.75em;
      padding-top:.125em;
      border-top: .375em double #FFF;
      border-bottom: .125em solid #FFF;
      margin: 0.6rem 1rem;
      float: right;
  }

.close-menu{
      background: none;
      border: 0;
      outline: 0;
      -webkit-appearance: none;
      font-size: 3.5em;
      text-indent: -999em;
       cursor: pointer;
       display: none;
  }

  .close-menu{
      color: white;
      position: relative;
      height: 1em;
      width: 1em;
      float: right;
  }

    .close-menu:before {
      content: '\00D7';
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
  }

thead, tbody { display: block; }

tbody {
    height: 20rem;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.show{
	display: block;
}

.hidden{
	display: none;
}
@media screen and (min-width: 1023px) { 

	#cadastrar-horario{
	position: relative;
	float:right;
	width: 30%;
	height: 35%;
	margin-top: 7rem;
	margin-right: 1rem;
}
	.page-header{
	  display: none;
	}
	.menu {
	width: 20%;
	height: 100%;
	margin: 0; 
	padding: 0;
	float: left;
	background: black;
	opacity: .85;
	display: block;
}

.menu ul li {
	margin: 0; 
	padding: 0;
	text-align: center;
	float: none;
	list-style-type: none;
}

.menu a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 1.5rem;
	display: block;
	font-size: 1rem;
}

.menu a:hover {
	background: white;
	color: black;
}
#conteudo {
	width: 80%;
	float: right;
}

}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px black; 
}