/*Estilo criado para o botão padrão*/
.button {
  display: inline-block;
  position: relative;
  float: right;
  border-radius: 0.25rem;
  background-color: rgb(22,171,156);
  border: none;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8rem;
  width: 9rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:3rem;
}

.button span {
	 cursor: pointer;
  position: relative;
  display: inline-block;
  transition: 0.5s;
}


.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25rem;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 1.56rem;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}



/*Modificador para botão branco*/
.button--changes{
  background-color: white;
  float: none;
  color: black;
  margin: 1rem 0 1rem 0;
}


/*Modificador para o botão de voltar*/
.back--button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8rem;
  width: 9rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: -0.6rem;
}

.back--button span {
  cursor: pointer;
      position: relative;
  display: inline-block;
  transition: 0.5s;
}

.back--button span:after {
  content:"\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -1.25rem;
  transition: 0.5s;
}

.back--button:hover span {
  padding-left: 1.56rem;
}

.back--button:hover span:after {
  opacity: 1;
  left:0;
}

