input[type=text],input[type=password],input[type=tel],input[type=email]{
    width: 100%;
    border: none;
    border-bottom: 0.08rem solid rgba(0,0,0,.85);
    background-color: transparent;
    color: white;
    font-size: 1rem;    
}

.floating-label {
    display: block;
    position: relative;
    font-size: 1.1rem;
    pointer-events: none;
    top: -40px;
    left: 0;
    transition: 0.9s ease all;
}

input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label{
    left: -7.5rem;
    top: -60px;
}


