/*-- Seção principal --*/
.main-section {
  width: 100%;
  height: 30rem;
    background: url("../images/como-montar-uma-barbearia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.main-section__title{
	font-size: 3.1rem;
	padding-top: 5rem;
}

.main-section__paragraph{
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 0 1.3rem;
}

.main-section__button {
  margin-top:3.5rem;
}


/*--Modificadores--*/
.layer--style{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  text-align: center;
}
/*-- Arrow.css --*/
.arrow-style {
	  border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.8rem;
    margin-top: 1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
    transition:0.4s;
}


.arrow-style:hover {
	padding: 0.93rem;
	transition: 0.4s;
}

@media screen and (min-width: 768px) { 
  .main-section__title{
    padding-top: 7rem;
  }
}

@media screen and (min-width: 1023px) { 
  .main-section {
      height: 40rem;
  }
  .main-section__title{
    font-size: 3.5rem;
    padding-top: 9rem;
  }

  .main-section__paragraph{
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }
  
  .arrow-style{
    margin-top: 1rem;
  }

}


