@import url("header.css");
@import url("layer.css");
@import url("sections.css");
@import url("footer.css");

*{
	padding:0;
	margin: 0;
}
body {
	color: #000;
	font: 0.75rem Arial, sans-serif;
	width: 100%;
	position: absolute;
	color:white;
}


/*-- Logo.css --*/
.logotext{
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
}







