
/*--Header.css*/

/*--Estilo do Header -*/
.header{
  width: 100%;
  height: 3rem;
  background-color: rgba(0,0,0,.85);
  padding: 1rem 0;
}


.header__logotext{
  font-size: 2.5rem;
  float: left;
  margin: 0 0 0 4rem;
}

.nav-menu{
    display: inline-block;
    float: right;
}

.list{
  margin-top:0.4rem;
}

.list__child{
  float: left;
  margin: 0 1.5rem;
  font-size: 1.2rem;
}



/*Mobile - Estilos do Header - Menu*/
@media (max-width: 1023px) {
  
  .header__logotext{
      font-size: 2.0rem;
      margin: 0.5rem 0 0 1.5rem;
  } 

  .nav-menu {
      background: rgb(53,53,59);
      padding: 1em 3em;
      margin: 0;
      height: 100%;
      width: 60%;
      max-width: 320px;

      position: fixed;
      z-index: 1;
      top: 0;
      left: -90%;

      transition: left 0.3s ease-out;
  }
  
  .list{
      width: 100%;
  }

  .list__child{
      padding: 1rem 0;
      width: 100%;
      margin: 0;
  }


   /*Estilos Menu icons - Mobile*/
  .menu-abrir,
  .menu-fechar {
      background: none;
      border: 0;
      outline: 0;
      -webkit-appearance: none;
      font-size: 2.7em;
      text-indent: -999em;
       cursor: pointer;
  }
  .menu-abrir {
      height: 0;
      width:.75em;
      padding-top:.125em;
      border-top: .375em double #FFF;
      border-bottom: .125em solid #FFF;
      margin: 0.6rem 1rem;
      float: right;
  }

  .menu-fechar {
      color: white;
      position: relative;
      height: 1em;
      width: 1em;
      float: right;
  }

  .menu-ativo:after {
          content: "";
          display: block;

          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          background: rgba(0,0,0,0.4);
      }
    
  .menu-fechar:before {
      content: '\00D7';
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
  }


  /*Menu ativo*/
  .menu-ativo .nav-menu {
      left: 0;
  }

}




