*{
	padding:0;
	margin: 0;
}

body {
	color: #000;
	font: 0.75rem Arial, sans-serif;
	width: 100%;
	color:white;
}

a{
	color: inherit; 
  	text-decoration: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.logotext{
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
}


.layer_button {
  display: inline-block;
  position: relative;
  float: right;
  border-radius: 0.25rem;
  background-color: rgb(22,171,156);
  border: none;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8rem;
  width: 9rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:3rem;
}

.layer_button span {
	 cursor: pointer;
  position: relative;
  display: inline-block;
  transition: 0.5s;
}


.layer_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25rem;
  transition: 0.5s;
}


.layer_button:hover span {
  padding-right: 1.56rem;
}


.layer_button:hover span:after {
  opacity: 1;
  right: 0;
}

