*{
	padding:0;
	margin: 0;
}
body {
	color: #000;
	font: 0.75rem Arial, sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
	 display: table;
	}

a{
	color: inherit; 
  	text-decoration: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*-- Logo.css --*/

.container{
	width: 100%;
	height: 100%;
}


.left-child{
	width: 100%;
	height: 32rem;
	padding-top: 2rem;
	background-color: rgba(0,0,0,.85);
	text-align: center;
}

.right-child{
	width: 100%;
	height: 32rem;
	background-color: rgb(22,171,156);
}
.login{
	width: 15rem;
	height: 10rem;
	margin: 5rem auto 0 auto;
	text-align: center;
}

.login h2{
	font-size: 2rem;
	margin-bottom: 1rem;
	color: white;
	font-family: 'aqua_grotesqueregular';
}



.logotext{
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
	font-size: 2rem;
}

.forget-password{
	cursor: pointer;
	font-size: 1.1rem;
}
.register-content{
	width: 80%;
	height: 18rem;
	padding-top: 1rem;
	padding-left: 1rem;
	margin: 1rem 0 0 2rem;
	text-align: left;
}

.container{
	color: white;
	position: absolute;
}

.container-title{
	font-size: 1.6rem;
	font-family: 'aqua_grotesqueregular';
}

.container-sub{
	margin-top: 0.4rem;
	font-size: 1.1rem;
	color: gray;
}

.container-description{
	margin-top: 1.5rem;
	font-size: 0.9rem;
	color: gray;
}

.back--button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8rem;
  width: 9rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: -0.6rem;
}

.back--button span {
  cursor: pointer;
      position: relative;
  display: inline-block;
  transition: 0.5s;
}

.back--button span:after {
  content:"\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -1.25rem;
  transition: 0.5s;
}

.back--button:hover span {
  padding-left: 1.56rem;
}

.back--button:hover span:after {
  opacity: 1;
  left:0;
}



.layer_button {
  display: inline-block;
  position: relative;
  float: right;
  border-radius: 0.25rem;
  background-color: rgb(22,171,156);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8rem;
  width: 9rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:3rem;
}

.layer_button span {
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.layer_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25rem;
  transition: 0.5s;
}

.layer_button:hover span {
  padding-right: 1.56rem;
}

.layer_button:hover span:after {
  opacity: 1;
  right: 0;
}
.input{
	margin: 1rem auto 1rem auto;
	display: block;
}

input[type=text],input[type=password],input[type=tel],input[type=email]{
	width: 100%;
    border: none;
    border-bottom: 0.08rem solid rgba(0,0,0,.85);
    background-color: transparent;
    color: white;
    font-size: 1rem;    
}
.floating-label {
	display: block;
  position: relative;
  font-size: 1.1rem;
  pointer-events: none;
  top: -40px;
  left: 0;
  transition: 0.9s ease all;
}

input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label{
   left: -7.5rem;
  top: -60px;
}
	.container-registre-se{
	background: rgb(00,138,126);
      margin: 0;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: -100%;
  	text-align: center;
      transition: left 0.3s ease-out;
}

	.registre-se{
      left: 0;
}
.container-registre-se .input{
	width: 50%;
}
.registre-box{
	width: 100%;
	height: 50%;
	margin: 20% auto 0 auto;
	text-align: center;
	display: none;
}
@media screen and (min-width: 768px) { 
	.confirma-box{
	width: 18rem;
	height: 20rem;
	margin: 40% auto 0 auto;
	text-align: center;
	display: none;
}
	.container-registre-se{
	background: rgb(00,138,126);
      margin: 0;
      height: 100%;
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: -90%;
		
      transition: left 0.3s ease-out;
}

	.registre-se{
      left: 0;
}
.container-child{
	position: relative;
	float: left;
}


.login h2{
	font-size: 2.8rem;
	margin-bottom: 2rem;
	color: white;
	font-family: 'aqua_grotesqueregular';
}

.left-child{
	width: 60%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	text-align: center;
	padding-top: 0;
}

.right-child{
	width: 40%;
	height: 100%;
	background-color: rgb(22,171,156);
}
.login{
	width: 18rem;
	height: 23rem;
	margin: 35% auto 0 auto;
	text-align: center;
}

.register-content{
	width: 80%;
	height: 20rem;
	padding-top: 1rem;
	padding-left: 1rem;
	margin: 20% 0 0 2rem;
	text-align: left;
}

.logotext{
	color:rgb(22,171,156);
	font-family: 'aileronsregular';
	font-size: 2.7rem;
	margin-top: 2rem;
}
.container-title{
	font-size: 2rem;
	font-family: 'aqua_grotesqueregular';
}
.container-sub{
	margin-top: 0.5rem;
	font-size: 1.2rem;
	color: gray;
}

}

.layer--changes{
	background-color: white;
	position: relative;
	float: left;
	color: black;
	margin: 1rem 0 1rem 0;
	float: none;
}




.registre-box h2{
	font-size: 2rem;
	margin-bottom: 2rem;
	color: white;
	font-family: 'aqua_grotesqueregular';
}

.confirma-box{
	width: 18rem;
	height: 20rem;
	margin: 30% auto 0 auto;
	text-align: center;
	display: none;
}


.confirma-box h2{
	font-size: 2rem;
	margin-bottom: 2rem;
	color: white;
}

.confirma-box p{
	font-size: 1.3rem;
	color: white;
}

.appear{
	display: block;
}